In [60]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import time

Requirement already satisfied: snscrape in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (0.3.5.dev132+ge382891)
Requirement already satisfied: beautifulsoup4 in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from snscrape) (4.9.3)
Requirement already satisfied: requests[socks] in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from snscrape) (2.24.0)
Requirement already satisfied: lxml in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from snscrape) (4.6.1)
Requirement already satisfied: pytz; python_version < "3.9.0" in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from snscrape) (2020.1)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from beautifulsoup4->snscrape) (2.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape) (1.7.1)
Collecting git+https://github.com/JustAnotherArchivist/snscrape.git
  Cloning https://github.com/JustAnotherArchivist/snscrape.git to /private/var/folders/kl/422fxrbn4x346r3j8kw25gg40000gn/T/pip-req-build-vweyv3rr
Requirement already satisfied (use --upgrade to upgrade): snscrape==0.3.5.dev132+ge382891 from git+https://github.com/JustAnotherArchivist/snscrape.git in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages
Requirement already satisfied: requests[socks] in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from snscrape==0.3.5.dev132+ge382891) (2.24.0)
Requirement already satisfied: lxml in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from snscrape==0.3.5.dev132+ge382891) (4.6.1)
Requirement already satisfied: beautifulsoup4 in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from snscrape==0.3.5.dev132+ge382891) (4.9.3)
Requirement already satisfied: pytz in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from snscrape==0.3.5.dev132+ge382891) (2020.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev132+ge382891) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev132+ge382891) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev132+ge382891) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev132+ge382891) (2020.6.20)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from requests[socks]->snscrape==0.3.5.dev132+ge382891) (1.7.1)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /Users/Jens/opt/anaconda3/lib/python3.8/site-packages (from beautifulsoup4->snscrape==0.3.5.dev132+ge382891) (2.0.1)
Building wheels for collected packages: snscrape
  Building wheel for snscrape (setup.py) ... done
  Created wheel for snscrape: filename=snscrape-0.3.5.dev132+ge382891-py3-none-any.whl size=51575 sha256=b5248a8e52a0d57d1df5ff84f2262419a2fbb492d6d8aadb812ae555261315f5
  Stored in directory: /private/var/folders/kl/422fxrbn4x346r3j8kw25gg40000gn/T/pip-ephem-wheel-cache-m8rfxbdf/wheels/92/42/87/33fa9b18f7a75d02643a9ca3743339aec9be28c6796267c7d8
Successfully built snscrape

In [137]:
start = time.time()
# Creating list to append tweet data to
tweetslist = []

# Using TwitterSearchScraper to scrape data cointaining the words 'Bitcoin' and 'Buy' and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('Bitcoin Buy since:2015-07-01 until:2021-09-10').get_items()):
    if i>400000000:
        break
    tweetslist.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.likeCount])
    
# Creating a dataframe from the tweets list above
tweets = pd.DataFrame(tweetslist, columns=['Datetime', 'Tweet Id', 'Text', 'Username','Like'])
end = time.time()
print(end - start)

89030.4135761261

In [138]:
tweets.to_csv('Tweets_Buy_1.csv', sep=',', index=False)

In [140]:
tweets['Datetime'] = pd.to_datetime(tweets['Datetime']).dt.date
tweets = tweets.groupby('Datetime')[['Like']].sum()
idx = pd.date_range('3-29-2010', '9-10-2021')
tweets.index = pd.DatetimeIndex(tweets.index)
tweets = tweets.reindex(idx, fill_value=0)
tweets = pd.DataFrame(tweets)
tweets = tweets.reset_index()
tweets = tweets.rename(columns={'index': 'Date', 'Like': 'Value'})
tweets

           Date  Value
0    2010-03-29      0
1    2010-03-30      0
2    2010-03-31      0
3    2010-04-01      0
4    2010-04-02      0
...         ...    ...
4179 2021-09-06  53067
4180 2021-09-07  76044
4181 2021-09-08  39648
4182 2021-09-09  14126
4183 2021-09-10      0

[4184 rows x 2 columns]

In [141]:
# Export dataframe into a CSV
tweets.to_csv('Tweets_Buy.csv', sep=',', index=False)

In [142]:
start = time.time()
# Creating list to append tweet data to
tweetslist = []

# Using TwitterSearchScraper to scrape data cointaining the words 'Bitcoin' and 'Buy' and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('Bitcoin Sell since:2015-07-01 until:2021-09-10').get_items()):
    if i>400000000:
        break
    tweetslist.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.likeCount])
    
# Creating a dataframe from the tweets list above
tweets = pd.DataFrame(tweetslist, columns=['Datetime', 'Tweet Id', 'Text', 'Username','Like'])
end = time.time()
print(end - start)

36105.76960206032

In [143]:
# Export dataframe into a CSV
tweets.to_csv('Tweets_Sell_1.csv', sep=',', index=False)

In [144]:
tweets

,Datetime,Tweet Id,Text,Username,Like
0,2021-09-09 23:59:58+00:00,1436117208703377411,üîªüîªüîª $ZRX Short Position(v2) üîªüîªüîª\n\nEntry: 1.06...,HobaBot,0
1,2021-09-09 23:59:28+00:00,1436117080542224385,üîªüîªüîª $KSM Short Position(v1) üîªüîªüîª\nEntry Price: ...,HobaBot,0
2,2021-09-09 23:57:15+00:00,1436116523182133252,@CrimZn @michael_saylor He said to sell your p...,james12946246,1
3,2021-09-09 23:53:58+00:00,1436115696832892929,üîªüîªüîª $ZRX Short Position(v2) üîªüîªüîª\n\nEntry: 1.06...,HobaBot,0
4,2021-09-09 23:51:01+00:00,1436114956349579267,#Bitcoin Market Alert! üö®\n\nOrder Balance: -41...,ToshiSat0shi,0
...,...,...,...,...,...
790671,2015-07-01 00:19:50+00:00,616038466913177600,"LIVE: Profit = $1,083.88 (1.13 %). BUY B363.62...",ProjectCoin,0
790672,2015-07-01 00:19:32+00:00,616038389700128768,"buysellbitco.in #bitcoin price in INR, Buy : 1...",BuySellBitcoinR,0
790673,2015-07-01 00:09:43+00:00,616035922325454848,LIVE: Profit = $918.14 (0.75 %). BUY B462.26 @...,ProjectCoin,0
790674,2015-07-01 00:04:25+00:00,616034588217901056,"buysellbitco.in #bitcoin price in INR, Buy : 1...",BuySellBitcoinR,0
790675,2015-07-01 00:01:07+00:00,616033758328680448,"„ÄêÁÇ∫Êõø„Éã„É•„Éº„Çπ(BTC/JPY)„Äë\n„ÄêÂèÇËÄÉ„Äë(SELL)31,952.4ÂÜÜ„ÄÇ (BUY)3...",BitCoin_NewsJP,0

In [145]:
tweets['Datetime'] = pd.to_datetime(tweets['Datetime']).dt.date
tweets = tweets.groupby('Datetime')[['Like']].sum()
idx = pd.date_range('3-29-2010', '9-10-2021')
tweets.index = pd.DatetimeIndex(tweets.index)
tweets = tweets.reindex(idx, fill_value=0)
tweets = pd.DataFrame(tweets)
tweets = tweets.reset_index()
tweets = tweets.rename(columns={'index': 'Date', 'Like': 'Value'})
tweets

           Date  Value
0    2010-03-29      0
1    2010-03-30      0
2    2010-03-31      0
3    2010-04-01      0
4    2010-04-02      0
...         ...    ...
4179 2021-09-06   3836
4180 2021-09-07  21949
4181 2021-09-08  17920
4182 2021-09-09   2598
4183 2021-09-10      0

[4184 rows x 2 columns]

In [146]:
# Export dataframe into a CSV
tweets.to_csv('Tweets_Sell.csv', sep=',', index=False)

In [ ]:
#Maybe try to collect Search term (Bitcoin + Sell + Buy) to get the noise out of the others!

In [125]:
start = time.time()
# Creating list to append tweet data to
tweetslist = []

# Using TwitterSearchScraper to scrape data cointaining the words 'Bitcoin' and 'Buy' and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('Bitcoin Sell Buy since:2015-07-01 until:2021-09-10').get_items()):
    if i>400000000:
        break
    tweetslist.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.likeCount])
    
# Creating a dataframe from the tweets list above
tweets = pd.DataFrame(tweetslist, columns=['Datetime', 'Tweet Id', 'Text', 'Username','Like'])
end = time.time()
print(end - start)

16252.033099889755

In [126]:
tweets.to_csv('Tweets_Sell_Buy_1.csv', sep=',', index=False)

In [127]:
tweets

,Datetime,Tweet Id,Text,Username,Like
0,2021-09-09 23:57:15+00:00,1436116523182133252,@CrimZn @michael_saylor He said to sell your p...,james12946246,1
1,2021-09-09 23:51:01+00:00,1436114956349579267,#Bitcoin Market Alert! üö®\n\nOrder Balance: -41...,ToshiSat0shi,0
2,2021-09-09 23:45:04+00:00,1436113455623270428,"As I said yesterday to my followers, the real ...",rationalaussie,1
3,2021-09-09 23:44:34+00:00,1436113333053280257,@michael_saylor @JustinTrudeau Yes and then we...,Woofmeow8,6
4,2021-09-09 23:43:19+00:00,1436113018631376902,My playbook at the moment:\n\n- Buy the VIX &a...,lukethomas14,3
...,...,...,...,...,...
369787,2015-07-01 00:19:50+00:00,616038466913177600,"LIVE: Profit = $1,083.88 (1.13 %). BUY B363.62...",ProjectCoin,0
369788,2015-07-01 00:19:32+00:00,616038389700128768,"buysellbitco.in #bitcoin price in INR, Buy : 1...",BuySellBitcoinR,0
369789,2015-07-01 00:09:43+00:00,616035922325454848,LIVE: Profit = $918.14 (0.75 %). BUY B462.26 @...,ProjectCoin,0
369790,2015-07-01 00:04:25+00:00,616034588217901056,"buysellbitco.in #bitcoin price in INR, Buy : 1...",BuySellBitcoinR,0
369791,2015-07-01 00:01:07+00:00,616033758328680448,"„ÄêÁÇ∫Êõø„Éã„É•„Éº„Çπ(BTC/JPY)„Äë\n„ÄêÂèÇËÄÉ„Äë(SELL)31,952.4ÂÜÜ„ÄÇ (BUY)3...",BitCoin_NewsJP,0

In [128]:
tweets['Datetime'] = pd.to_datetime(tweets['Datetime']).dt.date
tweets = tweets.groupby('Datetime')[['Like']].sum()
idx = pd.date_range('3-29-2010', '9-10-2021')
tweets.index = pd.DatetimeIndex(tweets.index)
tweets = tweets.reindex(idx, fill_value=0)
tweets = pd.DataFrame(tweets)
tweets = tweets.reset_index()
tweets = tweets.rename(columns={'index': 'Date', 'Like': 'Value'})
tweets

           Date  Value
0    2010-03-29      0
1    2010-03-30      0
2    2010-03-31      0
3    2010-04-01      0
4    2010-04-02      0
...         ...    ...
4179 2021-09-06    882
4180 2021-09-07   6767
4181 2021-09-08  11529
4182 2021-09-09    815
4183 2021-09-10      0

[4184 rows x 2 columns]

In [129]:
tweets.to_csv('Tweets_Sell_Buy.csv', sep=',', index=False)

In [134]:
start = time.time()
# Creating list to append tweet data to
tweetslist = []

# Using TwitterSearchScraper to scrape data cointaining the words 'Bitcoin' and 'Buy' and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('Bitcoin since:2015-07-01 until:2021-09-10').get_items()):
    if i>400:
        break
    tweetslist.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.likeCount])
    
# Creating a dataframe from the tweets list above
tweets = pd.DataFrame(tweetslist, columns=['Datetime', 'Tweet Id', 'Text', 'Username','Like'])
end = time.time()
print(end - start)

14.328243970870972

In [ ]:
tweets.to_csv('Tweets_BTC1.csv', sep=',', index=False)

In [ ]:
tweets['Datetime'] = pd.to_datetime(tweets['Datetime']).dt.date
tweets = tweets.groupby('Datetime')[['Like']].sum()
idx = pd.date_range('3-29-2010', '9-10-2021')
tweets.index = pd.DatetimeIndex(tweets.index)
tweets = tweets.reindex(idx, fill_value=0)
tweets = pd.DataFrame(tweets)
tweets = tweets.reset_index()
tweets = tweets.rename(columns={'index': 'Date', 'Like': 'Value'})
tweets

In [ ]:
tweets.to_csv('Tweets_BTC.csv', sep=',', index=False)